<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="Path" value="C:\Users\User\source\repos\FrameShopWPF2.0\FrameShopWPF2.0\bin\Debug\query.xml" />
		<add key="DataAccessPath" value="C:\Users\User\source\repos\FrameShopWPF2.0\FrameShopWPF2.0\Data\Stock.txt" />
	</appSettings>
</configuration>